{% extends 'base.html.twig' %}

{% block title %}Addresses index{% endblock %}

{% block body %}
    <h1>Addresses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ip</th>
                <th>Port</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.ip }}</td>
                <td>{{ address.port }}</td>
                <td>
                    <a href="{{ path('app_addresses_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('app_addresses_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_addresses_new') }}">Create new</a>
{% endblock %}
