{% extends 'base.html.twig' %}

{% block title %}Addresses{% endblock %}

{% block body %}
    <h1>Addresses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>IP</th>
                <td>{{ address.ip }}</td>
            </tr>
            <tr>
                <th>MAC</th>
                <td>{{ address.mac }}</td>
            </tr>
            <tr>
                <th>Port</th>
                <td>{{ address.port }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_addresses_index') }}">back to list</a>

    <a href="{{ path('app_addresses_edit', {'id': address.id}) }}">edit</a>

    {{ include('addresses/_delete_form.html.twig') }}

{% endblock %}
