{% extends 'base.html.twig' %}

{% block title %}Domains index{% endblock %}

{% block body %}
    <h1>Domains index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Technologies</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.id }}</td>
                <td>{{ domain.name }}</td>
                <td>{{ domain.description }}</td>
                <td>{{ domain.techsCounter }}</td>
                <td>
                    <a href="{{ path('app_domains_show', {'id': domain.id}) }}">show</a>
                    <a href="{{ path('app_domains_edit', {'id': domain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_domains_new') }}">Create new</a>
{% endblock %}
