{% extends 'userbase.html.twig' %}

{% block title %}Environment{% endblock %}

{% block body %}
    <h1>Environment</h1>

{% if environment.status == 'Deployed' %}
<p>This is a test environment. Please find the task desription and connection details below. You will need to use a SSH client in order to connect to a real Linux system.</p>
<p>When you are done with this particular task please submit it for verificaion by pressing 'Verify' button below.</p>
<p>You can skip this particular test environment by pressing 'Skip' button below. You can only skip {{ skip_limit }} test environments during single test session.</p>
{% endif %}

{% if environment.status == 'Skipped' %}
<p>This test environment has been skipped. It will not be accounted for the final test session result.</p>
{% endif %}

{% if environment.status == 'Verified' %}
<p>This test environment has been submit for verification. Shortly you will see the test result below.</p>
{% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Instance</th>
                <td>
{% if environment.instance %}
    {{ environment.instance }}<br/>sshpass -f password ssh {{ test_username }}@{{ public_ip }} -p {{ port }}
{% endif %}
		</td>

            </tr>
            <tr>
                <th>Session</th>
                <td><a href='{{ session_url }}'>{{ environment.session }}</a></td>
            </tr>
            <tr>
                <th>Task</th>
                <td>{{ task_description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ environment.status }}</td>
            </tr>
            <tr>
                <th>Started_at</th>
                <td>{{ environment.startedAt ? environment.startedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Finished_at</th>
                <td>{{ environment.finishedAt ? environment.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Valid</th>
                <td>
		{{ (environment.valid is same as (NULL)) ? '<span class="text-warning">Check pending</span>' : 
		(environment.valid ? '<span class="text-success">True</span>' : '<span class="text-danger">False</span>') }}
                </td>
            </tr>
        </tbody>
    </table>

{% if environment.status == 'Deployed' %}

    {{ include('environments/_verify_form.html.twig') }}
    {{ include('environments/_skip_form.html.twig') }}

{% endif %}

{% endblock %}
