{% extends 'userbase.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ session.status }}</td>
            </tr>
            <tr>
                <th>Envs</th>
                <td>
    {% for key, value in env_links %}
        <li><a href='{{ value|e }}'>{{ env_names[key] }}</a></li>
    {% endfor %}

		</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ session.createdAt ? session.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ended_at</th>
                <td>{{ session.endedAt ? session.endedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tr>
        </tbody>
    </table>

{% if session.status == 'Started' %}

    {{ include('sessions/_finish_form.html.twig') }}

{% else %}

    {{ include('sessions/_start_form.html.twig') }}

{% endif %}

{% endblock %}
