{% extends 'base.html.twig' %}

{% block title %}Sessions index{% endblock %}

{% block body %}
    <h1>Sessions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Testee</th>
                <th>OSes</th>
                <th>Techs</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Ended_at</th>
                <th>Hash</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.testee }}</td>
                <td>{{ session.osesCounter }}</td>
                <td>{{ session.techsCounter }}</td>
                <td>{{ session.status }}</td>
                <td>{{ session.createdAt ? session.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.endedAt ? session.endedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.hash }}</td>
                <td>
                    <a href="{{ path('app_sessions_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('app_sessions_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sessions_new') }}">Create new</a>
{% endblock %}
