{% extends 'base.html.twig' %}

{% block title %}SessionStatuses index{% endblock %}

{% block body %}
    <h1>SessionStatuses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session_status in session_statuses %}
            <tr>
                <td>{{ session_status.id }}</td>
                <td>{{ session_status.status }}</td>
                <td>
                    <a href="{{ path('app_session_statuses_show', {'id': session_status.id}) }}">show</a>
                    <a href="{{ path('app_session_statuses_edit', {'id': session_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_statuses_new') }}">Create new</a>
{% endblock %}
