{% extends 'base.html.twig' %}

{% block title %}SessionOses index{% endblock %}

{% block body %}
    <h1>SessionOses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Session</th>
                <th>Operating System</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session_os in session_oses %}
            <tr>
                <td>{{ session_os.id }}</td>
                <td>{{ session_os.session }}</td>
                <td>{{ session_os.os }}</td>
                <td>
                    <a href="{{ path('app_session_oses_show', {'id': session_os.id}) }}">show</a>
                    <a href="{{ path('app_session_oses_edit', {'id': session_os.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_session_oses_new') }}">Create new</a>
{% endblock %}
