{% extends 'base.html.twig' %}

{% block title %}InstanceTypes{% endblock %}

{% block body %}
    <h1>InstanceTypes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instance_type.id }}</td>
            </tr>
            <tr>
                <th>Combo</th>
                <td>{{ instance_type.combo }}</td>
            </tr>
            <tr>
                <th>OS</th>
                <td>{{ instance_type.os }}</td>
            </tr>
            <tr>
                <th>HW Profile</th>
                <td>{{ instance_type.hwprofile }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instance_types_index') }}">back to list</a>

{% endblock %}
