{% extends 'base.html.twig' %}

{% block title %}Breeds index{% endblock %}

{% block body %}
    <h1>Breeds index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for breed in breeds %}
            <tr>
                <td>{{ breed.id }}</td>
                <td>{{ breed.name }}</td>
                <td>
                    <a href="{{ path('app_breeds_show', {'id': breed.id}) }}">show</a>
                    <a href="{{ path('app_breeds_edit', {'id': breed.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_breeds_new') }}">Create new</a>
{% endblock %}
