{% extends 'base.html.twig' %}

{% block title %}Testees index{% endblock %}

{% block body %}
    <h1>Testees index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Sessions</th>
                <th>Oath_token</th>
                <th>Registered_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testee in testees %}
            <tr>
                <td>{{ testee.id }}</td>
                <td>{{ testee.email }}</td>
                <td>{{ testee.sessionsCounter }}</td>                
                <td>{{ testee.oauthToken }}</td>
                <td>{{ testee.registeredAt ? testee.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_testees_show', {'id': testee.id}) }}">show</a>
                    <a href="{{ path('app_testees_edit', {'id': testee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_testees_new') }}">Create new</a>
{% endblock %}
