{% extends 'base.html.twig' %}

{% block title %}Testees{% endblock %}

{% block body %}
    <h1>Testees</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ testee.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ testee.email }}</td>
            </tr>
            <tr>
                <th>Oath_token</th>
                <td>{{ testee.oauthToken }}</td>
            </tr>
            <tr>
                <th>Registered_at</th>
                <td>{{ testee.registeredAt ? testee.registeredAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_testees_index') }}">back to list</a>

    <a href="{{ path('app_testees_edit', {'id': testee.id}) }}">edit</a>

    {{ include('testees/_delete_form.html.twig') }}
{% endblock %}
