{% extends 'base.html.twig' %}

{% block title %}Ports index{% endblock %}

{% block body %}
    <h1>Ports index</h1>

    <a href="{{ path('app_ports_new') }}">Create new</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for port in ports %}
            <tr>
                <td>{{ port.id }}</td>
                <td>{{ port.number }}</td>
                <td>
                    <a href="{{ path('app_ports_show', {'id': port.id}) }}">show</a>
                    <a href="{{ path('app_ports_edit', {'id': port.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
