{% extends 'base.html.twig' %}

{% block title %}SessionTechs{% endblock %}

{% block body %}
    <h1>SessionTechs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session_tech.id }}</td>
            </tr>
            <tr>
                <th>Session</th>
                <td>{{ session_tech.session }}</td>
            </tr>
            <tr>
                <th>technology</th>
                <td>{{ session_tech.tech }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_techs_index') }}">back to list</a>

    <a href="{{ path('app_session_techs_edit', {'id': session_tech.id}) }}">edit</a>

    {{ include('session_techs/_delete_form.html.twig') }}
{% endblock %}
